<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>
	SimpleDemo</display-name>
	<servlet>
		<description>
		</description>
		<display-name>
		LoadData</display-name>
		<servlet-name>LoadData</servlet-name>
		<servlet-class>
		controller.LoadData</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		ProcessServlet</display-name>
		<servlet-name>ProcessServlet</servlet-name>
		<servlet-class>
		controller.ProcessServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>DeleteHeroServlet</display-name>
		<servlet-name>DeleteHeroServlet</servlet-name>
		<servlet-class>
		controller.DeleteHeroServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>SearchServlet</display-name>
		<servlet-name>SearchServlet</servlet-name>
		<servlet-class>
		controller.SearchServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>StupidServlet</display-name>
		<servlet-name>StupidServlet</servlet-name>
		<servlet-class>controller.StupidServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>TestServlet</display-name>
		<servlet-name>TestServlet</servlet-name>
		<servlet-class>controller.TestServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoadData</servlet-name>
		<url-pattern>/load</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ProcessServlet</servlet-name>
		<url-pattern>/process</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteHeroServlet</servlet-name>
		<url-pattern>/deleteHero</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SearchServlet</servlet-name>
		<url-pattern>/search</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>StupidServlet</servlet-name>
		<url-pattern>/stupid</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TestServlet</servlet-name>
		<url-pattern>/TestServlet/*</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>CRUDPage.jsp</welcome-file>
	</welcome-file-list>
</web-app>
